[Desktop Entry]
Version=1.0
Type=Application
Name=Kairo
Icon=kairo
Comment=CLI and Desktop application for smart URL routing
Encoding=UTF-8
Categories=WebBrowser;
Exec=kairo-desktop %u
Terminal=false
MimeType=x-scheme-handler/chrome;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;

